extends layout

block content
  
  .ticket-container

    each type in ticketTypes
      - var ticket = ticketOptions[type]

      .ticket-count.js-ticket-count
        .ticket-count__amount(class='js-ticket-count-' + type)
        .ticket-count__text=ticket.name

  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(src=versionPath('/javascripts/index.js'))