extends layout

block content
  .ticket-count
    .ticket-count__amount.ticket-count__amount--warning.js-ticket-count-open
    .ticket-count__text
      | Tickets
  .ticket-count
    .ticket-count__amount.ticket-count__amount--danger.js-ticket-count-bug
    .ticket-count__text
      | Bugs
  script(src='/javascripts/index.js')
