html
  height 100%

body
  font 14px "Lato", Helvetica, Arial, sans-serif
  background-color black
  color white
  font-size 0
  height 100%

a
  color #00B7FF


.ticket-count
  width 100%
  font-size 100px
  color #fff
  text-align center
  height 37%
  display block
  padding-top 13%

.ticket-count__amount
  width 100%
  margin 0 auto 0 auto
  font-size 65px
  font-weight bold
  line-height 100px

.ticket-count__text
  font-size 40px
  font-weight 300
  text-transform uppercase

.amount--danger
  background-color #d90000

.amount--warning
  background-color #d98500

