html
  height 100%

body
  font 14px "Lato", Helvetica, Arial, sans-serif
  background-color black
  color white
  font-size 0
  height 100%
  margin 0
  padding 0

a
  color #00B7FF

.ticket-count
  width 50%
  font-size 100px
  color #fff
  text-align center
  height 100%
  display block
  float left

.ticket-count__amount
  width 100%
  margin 0 auto 0 auto
  font-size 65px
  font-weight bold
  line-height 100px
  padding-top 45%

.ticket-count__text
  font-size 40px
  font-weight 300
  text-transform uppercase

.amount--danger
  background-color #d90000

.amount--good
  background-color #34a802

