body{font:14px "Lato",Helvetica,Arial,sans-serif;background-color:#000;color:#fff;font-size:0;height:100%}
a{color:#00b7ff}
.ticket-count{width:100%;font-size:100px;color:#fff;text-align:center;padding:20px 0 30px 0}
.ticket-count__amount{width:100%;margin:0 auto 10px auto;font-size:65px;font-weight:bold;line-height:100px}
.ticket-count__text{font-size:40px;font-weight:300;text-transform:uppercase}
