.ticket-container
  display table
  width 100%
  height 100%

.ticket-count
  width 50%
  color #fff
  text-align center
  height 100%
  display table-cell
  vertical-align middle

.ticket-count__amount
  width 100%
  margin 0 auto 0 auto
  font-size 4.642857143em
  font-size 40vmin
  font-weight bold

.ticket-count__text
  font-size 1.785714286em
  font-size 14.5vmin
  font-weight 300

.amount--danger
  background-color #d90000

.amount--good
  background-color #0083f3
